In [1]:
from pyspark.sql import SparkSession
from pyspark.sql import Row
import pyspark.sql.functions as F


spark = SparkSession \
            .builder \
            .config("spark.master", "local") \
            .config("spark.driver.memory", "2g") \
            .config("spark.executor.instances", 2) \
            .config("spark.executor.memory", '4g') \
            .appName("spark_halltape") \
    .getOrCreate()

print("Activator:", spark.sparkContext.uiWebUrl)

Activator: http://DESKTOP-LK7MKOI:4042

In [3]:
df = spark.read.format("csv").option("header","true").load("cars.csv")

In [4]:
df.show(5)

+-----------------+----------+------------+------+--------------+-------------+-----------+--------------+-----------+---------------+---------+------------+-----+----------+---------+---------------+---------------+----------------+----------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------------+
|manufacturer_name|model_name|transmission| color|odometer_value|year_produced|engine_fuel|engine_has_gas|engine_type|engine_capacity|body_type|has_warranty|state|drivetrain|price_usd|is_exchangeable|location_region|number_of_photos|up_counter|feature_0|feature_1|feature_2|feature_3|feature_4|feature_5|feature_6|feature_7|feature_8|feature_9|duration_listed|
+-----------------+----------+------------+------+--------------+-------------+-----------+--------------+-----------+---------------+---------+------------+-----+----------+---------+---------------+---------------+----------------+----------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------------+
|           Subaru|   Outback|   automatic|silver|        190000|         2010|   gasoline|         False|   gasoline|            2.5|universal|       False|owned|       all|  10900.0|          False|   Минская обл.|               9|        13|    False|     True|     True|     True|    False|     True|    False|     True|     True|     True|             16|
|           Subaru|   Outback|   automatic|  blue|        290000|         2002|   gasoline|         False|   gasoline|            3.0|universal|       False|owned|       all|   5000.0|           True|   Минская обл.|              12|        54|    False|     True|    False|    False|     True|     True|    False|    False|    False|     True|             83|
|           Subaru|  Forester|   automatic|   red|        402000|         2001|   gasoline|         False|   gasoline|            2.5|      suv|       False|owned|       all|   2800.0|           True|   Минская обл.|               4|        72|    False|     True|    False|    False|    False|    False|    False|    False|     True|     True|            151|
|           Subaru|   Impreza|  mechanical|  blue|         10000|         1999|   gasoline|         False|   gasoline|            3.0|    sedan|       False|owned|       all|   9999.0|           True|   Минская обл.|               9|        42|     True|    False|    False|    False|    False|    False|    False|    False|    False|    False|             86|
|           Subaru|    Legacy|   automatic| black|        280000|         2001|   gasoline|         False|   gasoline|            2.5|universal|       False|owned|       all|  2134.11|           True|Гомельская обл.|              14|         7|    False|     True|    False|     True|     True|    False|    False|    False|    False|     True|              7|
+-----------------+----------+------------+------+--------------+-------------+-----------+--------------+-----------+---------------+---------+------------+-----+----------+---------+---------------+---------------+----------------+----------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------------+
only showing top 5 rows

In [ ]:
PATH = 'глобальная переменная тут будет название файла/'
date = '24-07-01'
card = spark.read.csv(f'{PATH}Card.csv', header=True , sep=';' ).where(f'''столбец = "{date}" ''')  #header= первая строка название столбцев есть или нет.. sep= разделитель какой
status = spark.read.csv(f'{PATH}STATUS.csv', header=True , sep=';' ).filter(F("столбец") == "24-07-06")
trx = spark.read.csv(f'{PATH}transactions.csv', header=True , sep=';' ).filter("столбец = '24-07-06'")
filter("manufacturer_name = 'Audi'")
card.show() # выведет нам все таблиц, но обрезанную
status.show(truncate = False) # это значит не будет экономит место и даст всю табл

In [ ]:
# Витрина данных нужно собрать
# card_num transcfaction_flag > 300 status ('выдана') cookie url  card_order_dt load_date 
# # как это все вытащить внизу написано

In [ ]:
first_trx = trx.groupBy('card_num').agg(F.max('amout').alias('amount'))
trx_df = first_trx.join(trx,['card_num', 'transaction_datetime'], 'inner')  # сама на себя короче
trx_df.show()

In [ ]:
df_2 = status.join(trx_df,'card_num','inner')     # соединили с еще одним столбцом 
card.columns                                      # выдаст только какие колонки есть 
final = df_2.join(card,'card_num_md5','inner')    # соединили с третей таблицей

In [ ]:
final = df_2.join(card,'card_num_md5','inner')\
            .select('card_num', 'transcfaction_flag','cookie','url', 'card_order_dt', 'load_date')