In [1]:
import os
import sys

os.environ['PYSPARK_PYTHON'] = sys.executable
os.environ['PYSPARK_DRIVER_PYTHON'] = sys.executable

In [3]:
from pyspark.sql import SparkSession
import pyspark.sql.functions as F


spark = SparkSession \
            .builder \
            .appName("halltape_pyspark_local") \
    .getOrCreate()


print("Активные Spark сессии:", spark.sparkContext.uiWebUrl)

25/02/18 08:06:04 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
25/02/18 08:06:05 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.

Активные Spark сессии: http://87fa079ba304:4041

In [4]:
import os
import sys

# Настройка окружения для PySpark
os.environ['PYSPARK_PYTHON'] = sys.executable
os.environ['PYSPARK_DRIVER_PYTHON'] = sys.executable

# Создание SparkSession
spark = SparkSession \
            .builder \
            .appName("halltape_pyspark_local") \
            .master("local[*]")  \
            .config("spark.ui.port", "4040")   \
            .getOrCreate()

print("Активные Spark сессии:", spark.sparkContext.uiWebUrl)

Активные Spark сессии: http://87fa079ba304:4041

In [5]:
PATH = 'data/customs_data.csv'

In [6]:
print(PATH)

data/customs_data.csv

In [7]:
spark.read.csv(PATH).show()

+--------------------+
|                 _c0|
+--------------------+
|month;country;cod...|
|01/2016;IT;620469...|
|01/2016;CN;900190...|
|01/2016;BY;841430...|
|01/2016;US;901850...|
|01/2016;EE;902110...|
|01/2016;FR;381600...|
|01/2016;MX;852351...|
|01/2016;JP;620452...|
|01/2016;KR;611020...|
|01/2016;KG;852713...|
|01/2016;ZA;842123...|
|01/2016;CN;851810...|
|01/2016;TR;841790...|
|01/2016;IT;390610...|
|01/2016;CZ;870840...|
|01/2016;ES;640419...|
|01/2016;IT;940490...|
|01/2016;UA;820780...|
|01/2016;CN;330410...|
+--------------------+
only showing top 20 rows

In [8]:
spark.read.csv(PATH, sep=';', header=True).show(5)

+-------+-------+----------+------+-----+--------+------+--------+-------------+-----------+--------------------+
|  month|country|      code| value|netto|quantity|region|district|direction_eng|measure_eng|           load_date|
+-------+-------+----------+------+-----+--------+------+--------+-------------+-----------+--------------------+
|01/2016|     IT|6204695000|   131|    1|       7| 46000|      01|           IM|        ShT|2024-07-01T00:00:...|
|01/2016|     CN|9001900009|112750|   18|       0| 46000|      01|           IM|          1|2024-01-01T00:00:...|
|01/2016|     BY|8414302004|   392|   57|       8| 50000|      06|           IM|        ShT|2024-06-01T00:00:...|
|01/2016|     US|9018509000| 54349|  179|       0| 40000|      02|           IM|          1|2024-04-01T00:00:...|
|01/2016|     EE|9021101000| 17304|  372|       0| 46000|      01|           IM|          1|2024-02-01T00:00:...|
+-------+-------+----------+------+-----+--------+------+--------+-------------+-----------+--------------------+
only showing top 5 rows

In [9]:
df = spark.read.csv(PATH, sep=';', header=True)

# df.show(trancat=False) # чтобы влезло все, если длинное название столбца

df.show(2, False, True) # перевернем столбецы ВЕРТИКАЛЬНО и выведем только 2 строки

-RECORD 0--------------------------------------
 month         | 01/2016
 country       | IT
 code          | 6204695000
 value         | 131
 netto         | 1
 quantity      | 7
 region        | 46000
 district      | 01
 direction_eng | IM
 measure_eng   | ShT
 load_date     | 2024-07-01T00:00:00.000+03:00
-RECORD 1--------------------------------------
 month         | 01/2016
 country       | CN
 code          | 9001900009
 value         | 112750
 netto         | 18
 quantity      | 0
 region        | 46000
 district      | 01
 direction_eng | IM
 measure_eng   | 1
 load_date     | 2024-01-01T00:00:00.000+03:00
only showing top 2 rows

In [10]:
df.printSchema() # Это схема данных вашего DataFrame.  структура и типы данных:

root
 |-- month: string (nullable = true)
 |-- country: string (nullable = true)
 |-- code: string (nullable = true)
 |-- value: string (nullable = true)
 |-- netto: string (nullable = true)
 |-- quantity: string (nullable = true)
 |-- region: string (nullable = true)
 |-- district: string (nullable = true)
 |-- direction_eng: string (nullable = true)
 |-- measure_eng: string (nullable = true)
 |-- load_date: string (nullable = true)

In [11]:
result = df.withColumnRenamed("direction_eng", "direction").withColumnRenamed("measure_eng","measure")
# result.printSchema() # структура и типы данных
result.columns  # вытащить какие колонки есть

['month',
 'country',
 'code',
 'value',
 'netto',
 'quantity',
 'region',
 'district',
 'direction',
 'measure',
 'load_date']

In [12]:
result\
        .select('country')\
        .distinct()\
        .show(10,truncate=False )

# result.select('country').distinct().show(10, truncate=False) ИЛИ ТАК ПИСАТЬ

# 16 ЭТО ПАРТИЦИЙ, SPARK РАЗДРАБИЛ НА 16 И НА ОДНОМ КОМПЕ СЧИТАЕТ, А ЕСЛИ БЫ БЫ КЛАСТЕР ОН БЫ КАЖДУЮ ПАРТИЦИЮ СЧИТАЛ НА РАЗНОМ КОМПЕ ПАРАЛЛЕЛЬНО

+-------+
|country|
+-------+
|LT     |
|MM     |
|DZ     |
|CI     |
|TC     |
|FI     |
|SC     |
|AZ     |
|PM     |
|UA     |
+-------+
only showing top 10 rows

In [14]:
result.show()

+-------+-------+----------+------+------+--------+------+--------+---------+-------+--------------------+
|  month|country|      code| value| netto|quantity|region|district|direction|measure|           load_date|
+-------+-------+----------+------+------+--------+------+--------+---------+-------+--------------------+
|01/2016|     IT|6204695000|   131|     1|       7| 46000|      01|       IM|    ShT|2024-07-01T00:00:...|
|01/2016|     CN|9001900009|112750|    18|       0| 46000|      01|       IM|      1|2024-01-01T00:00:...|
|01/2016|     BY|8414302004|   392|    57|       8| 50000|      06|       IM|    ShT|2024-06-01T00:00:...|
|01/2016|     US|9018509000| 54349|   179|       0| 40000|      02|       IM|      1|2024-04-01T00:00:...|
|01/2016|     EE|9021101000| 17304|   372|       0| 46000|      01|       IM|      1|2024-02-01T00:00:...|
|01/2016|     FR|3816000000|323488|253600|       0| 40000|      02|       IM|      1|2024-02-01T00:00:...|
|01/2016|     MX|8523519300|  1611|     0|       4| 40000|      02|       IM|    ShT|2024-04-01T00:00:...|
|01/2016|     JP|6204520000|    29|     1|       2| 46000|      01|       IM|    ShT|2024-02-01T00:00:...|
|01/2016|     KR|6110209100|   815|     2|       5| 46000|      01|       IM|    ShT|2024-01-01T00:00:...|
|01/2016|     KG|8527139900| 11868|  2127|    2630| 46000|      01|       IM|    ShT|2024-06-01T00:00:...|
|01/2016|     ZA|8421230000| 12686|  1785|    3451| 45000|      01|       IM|    ShT|2024-03-01T00:00:...|
|01/2016|     CN|8518109500|    12|     0|      10| 65000|      05|       IM|    ShT|2024-03-01T00:00:...|
|01/2016|     TR|8417900000|206453| 17297|       1| 92000|      04|       IM|    ShT|2024-06-01T00:00:...|
|01/2016|     IT|3906100000|  4492|  1075|       0| 45000|      01|       IM|      1|2024-02-01T00:00:...|
|01/2016|     CZ|8708409909|    41|     2|       0| 46000|      01|       IM|      1|2024-01-01T00:00:...|
|01/2016|     ES|6404191000| 11822|   346|     760| 45000|      01|       IM|    PAR|2024-01-01T00:00:...|
|01/2016|     IT|9404909000|  6801|   485|       0| 46000|      01|       IM|      1|2024-03-01T00:00:...|
|01/2016|     UA|8207801900| 35793|  1020|       0| 14000|      01|       IM|      1|2024-02-01T00:00:...|
|01/2016|     CN|3304100000| 59678| 10829|       0| 46000|      01|       IM|      1|2024-06-01T00:00:...|
|01/2016|     SI|6104440000|  1470|    13|      15| 45000|      01|       IM|    ShT|2024-05-01T00:00:...|
+-------+-------+----------+------+------+--------+------+--------+---------+-------+--------------------+
only showing top 20 rows

In [15]:
result\
        .groupBy('country')\
        .agg(F.count('*').alias('total_rows'))\
        .orderBy(F.col('total_rows').desc())\
        .show()

+-------+----------+
|country|total_rows|
+-------+----------+
|     BY|   3509568|
|     KZ|   2519896|
|     CN|   2454792|
|     DE|   1542311|
|     UA|   1158498|
|     IT|   1102837|
|     US|    835936|
|     PL|    666690|
|     FR|    593040|
|     JP|    571756|
|     TR|    463432|
|     KR|    446907|
|     GB|    443091|
|     AM|    438705|
|     CZ|    407360|
|     KG|    403565|
|     ES|    401644|
|     IN|    374151|
|     NL|    365193|
|     UZ|    329707|
+-------+----------+
only showing top 20 rows

In [16]:
result.show(2)

+-------+-------+----------+------+-----+--------+------+--------+---------+-------+--------------------+
|  month|country|      code| value|netto|quantity|region|district|direction|measure|           load_date|
+-------+-------+----------+------+-----+--------+------+--------+---------+-------+--------------------+
|01/2016|     IT|6204695000|   131|    1|       7| 46000|      01|       IM|    ShT|2024-07-01T00:00:...|
|01/2016|     CN|9001900009|112750|   18|       0| 46000|      01|       IM|      1|2024-01-01T00:00:...|
+-------+-------+----------+------+-----+--------+------+--------+---------+-------+--------------------+
only showing top 2 rows

In [17]:
# 2 ВАРИАНТА ФИЛЬТРОВАТЬ

df_1 = result\
                .where(F.col('country') == 'DE' )\
                .where(F.col('value').isNotNull())
# df_1.show()

df_2 = result\
                .where('''country == "DE"''')\
                .where('''value IS NOT NULL ''')
# df_2.show()

print(df_1.count() == df_2.count())

True

In [ ]:
final = df_2\
            .select('month',
                    'country',
                   'code',
                   'value',
                   'netto',
                   'quantity',
                   'region',
                   'district',
                   'direction',
                   'measure',
                   F.col('load_date').cast('date')) # убрали время и оставили время

final.show(5, truncate=False)

+-------+-------+----------+------+-----+--------+------+--------+---------+-------+----------+
|month  |country|code      |value |netto|quantity|region|district|direction|measure|load_date |
+-------+-------+----------+------+-----+--------+------+--------+---------+-------+----------+
|01/2016|DE     |4016995709|5901  |172  |0       |46000 |01      |IM       |1      |2024-01-01|
|01/2016|DE     |8708809109|1213  |94   |0       |45000 |01      |IM       |1      |2024-01-01|
|01/2016|DE     |7013419000|7020  |1611 |492     |45000 |01      |IM       |ShT    |2024-02-01|
|01/2016|DE     |3923309090|46294 |8048 |0       |45000 |01      |IM       |1      |2024-04-01|
|01/2016|DE     |4015190000|440008|73357|6463937 |45000 |01      |IM       |PAR    |2024-03-01|
+-------+-------+----------+------+-----+--------+------+--------+---------+-------+----------+
only showing top 5 rows

In [20]:
final.printSchema()

root
 |-- month: string (nullable = true)
 |-- country: string (nullable = true)
 |-- code: string (nullable = true)
 |-- value: string (nullable = true)
 |-- netto: string (nullable = true)
 |-- quantity: string (nullable = true)
 |-- region: string (nullable = true)
 |-- district: string (nullable = true)
 |-- direction: string (nullable = true)
 |-- measure: string (nullable = true)
 |-- load_date: date (nullable = true)

In [28]:
final.show()

+-------+-------+----------+------+-----+--------+------+--------+---------+-------+----------+
|  month|country|      code| value|netto|quantity|region|district|direction|measure| load_date|
+-------+-------+----------+------+-----+--------+------+--------+---------+-------+----------+
|01/2016|     DE|4016995709|  5901|  172|       0| 46000|      01|       IM|      1|2024-01-01|
|01/2016|     DE|8708809109|  1213|   94|       0| 45000|      01|       IM|      1|2024-01-01|
|01/2016|     DE|7013419000|  7020| 1611|     492| 45000|      01|       IM|    ShT|2024-02-01|
|01/2016|     DE|3923309090| 46294| 8048|       0| 45000|      01|       IM|      1|2024-04-01|
|01/2016|     DE|4015190000|440008|73357| 6463937| 45000|      01|       IM|    PAR|2024-03-01|
|01/2016|     DE|2918140000|   265|   15|       0| 45000|      01|       IM|      1|2024-03-01|
|01/2016|     DE|3208101000| 10075|  680|       0| 78000|      01|       IM|      1|2024-06-01|
|01/2016|     DE|7608100009|  5515|   12|       0| 92000|      04|       IM|      1|2024-03-01|
|01/2016|     DE|8505909000|  1141|   11|       0| 46000|      01|       IM|      1|2024-02-01|
|01/2016|     DE|5602101900| 18483| 3520|       0| 42000|      01|       IM|      1|2024-02-01|
|01/2016|     DE|3405909000| 48947|19440|       0| 07000|      08|       IM|      1|2024-02-01|
|01/2016|     DE|7306408008|   403|   16|       0| 70000|      01|       IM|      1|2024-01-01|
|01/2016|     DE|2106909803|   497|   66|       0| 40000|      02|       IM|      1|2024-04-01|
|01/2016|     DE|2918199800| 14231| 2000|       0| 40000|      02|       IM|      1|2024-02-01|
|01/2016|     DE|8536508000|  7920|   62|       0| 65000|      05|       IM|      1|2024-03-01|
|01/2016|     DE|8481309909|  5652|   58|       0| 46000|      01|       IM|      1|2024-04-01|
|01/2016|     DE|3506910000| 10466| 1800|       0| 60000|      03|       IM|      1|2024-01-01|
|01/2016|     DE|5906999000|   846|   60|       0| 45000|      01|       IM|      1|2024-01-01|
|01/2016|     DE|8207709000| 16308|  148|       0| 27000|      02|       IM|      1|2024-01-01|
|01/2016|     DE|3824400000| 41312| 4670|       0| 46000|      01|       IM|      1|2024-03-01|
+-------+-------+----------+------+-----+--------+------+--------+---------+-------+----------+
only showing top 20 rows

In [ ]:
# КАК СОХРАНЯТЬ ??  некотроллируемое по колличеству файлов 

# 1 вариант  сохрание некотроллируемое по колличеству файлов  и в папке будет несколько (файлов партиции) 
final\
    .write\
    .format('csv')\
    .options(header='True', sep=';')\
    .csv('data/final_no_control') 
    
partition_num = final.rdd.getNumPartitions() # это узнать на какое колличество партиций мы записали
print(f'Кол-во партиции {partition_num}')

Кол-во партиции 16

In [ ]:
# КАК СОХРАНЯТЬ ??  как один или несколько файлов

# сохранение контроллируемое по кол-ву файлов - ОДИН ФАЙЛ мы указали в coalesce(1)
# есть еще вариант написать repartition(1) схлопни в одмин
# ЕСЛИ МЫ ПИШЕМ РАЗНЫЕ coalesce(4) = ПАРТИЦИИ БУДУТ РАЗНОГО РАЗМЕРА И repartition(1) = ПАРТИЦИИ БУДУТ ПРИМЕРНО ВСЕ ОДИНАКОВЫ ПО РАЗМЕРУ, НО ЭТО ОПЕРЦИИ ТЯЖЕЛЕЕ ТАК КАК БУДУТ ДОП 
final\
    .coalesce(1)\
    .write\
    .format('csv')\
    .options(header='True', sep=';')\
    .csv('data/final_one_file') 
    
partition_df = final.rdd.getNumPartitions() # это узнать на какое колличество партиций мы записали
print(f'Кол-во партиции {partition_df}')

Кол-во партиции 16

In [33]:
final.select('load_date').distinct().show()

+----------+
| load_date|
+----------+
|2024-08-01|
|2024-09-01|
|2024-10-01|
|2024-04-01|
|2024-05-01|
|2024-07-01|
|2024-02-01|
|2024-03-01|
|2024-01-01|
|2024-06-01|
+----------+

In [34]:
# КАК СОХРАНЯТЬ ?? с партицированием, то есть по условию какому нибудь почти как wherе..там 

final\
    .write\
    .partitionBy('load_date')\
    .format('csv')\
    .options(header='True', sep=';')\
    .csv('data/final_partitioned')

print_df = final.select('load_date').distinct()
print(f'load_date distinct:{print_df.count()}')

load_date distinct:10

In [35]:
 # КАК СОХРАНЯТЬ ?? чтобы было не несколько файлов в папке а один файл и только с одним криетрием load_date и столбца load_date там не будет, он какбы в общем по всем папкаи и название папки это и есть строка  
 # # Сохранения с партицированием и repartition внутри самой партиции
final\
    .repartition(1, 'load_date')\
    .write\
    .partitionBy('load_date')\
    .format('csv')\
    .options(header='True', sep=';')\
    .csv('data/final_partitioned_repart')

partition_num = final.repartition(1, 'load_date').rdd.getNumPartitions()
print(f'Кол-во партиций {partition_num}')

Кол-во партиций 1

In [ ]:
# как читать???  тут он прочитал 16 мелких файлов.. это то что мы сохранили
reader_no_control = spark\
                        .read\
                        .csv('data/final_no_control/', header=True, sep=';')\
                        .where(''' load_date = "2024-01-01" ''')
reader_no_control.count()

350998

In [ ]:
# тут мы читает один файл который мы сохранили
reader_final_one_file = spark\
                            .read\
                            .csv('data/final_one_file/', header=True, sep=';')\
                            .where(''' load_date = "2024-01-01" ''')
reader_final_one_file.count()

350998

In [ ]:
# тут где партиция и мног файлов
reader_partitioned = spark\
                        .read\
                        .csv('data/final_partitioned', header=True, sep=';')\
                        .where(''' load_date = "2024-01-01" ''')
                        
reader_partitioned.count()

350998

In [40]:
reader_partitioned_repart = spark\
                                .read\
                                .csv('data/final_partitioned_repart', header=True, sep=';')\
                                .where(''' load_date = "2024-01-01" ''')
reader_partitioned_repart.count()

350998

In [27]:
data = [
    (14000, "Северный"),
    (11000, "Южный"),
    (10000, "Восточный"),
    (26000, "Западный"),
    (56000, "Центральный")
]

region_df = spark.createDataFrame(data, schema='region_id long, name string')

region_df.show()


customs_data = spark\
                .read\
                .csv('data/customs_data.csv', header=True, sep=';')

customs_data.show(2)

+---------+-----------+
|region_id|       name|
+---------+-----------+
|    14000|   Северный|
|    11000|      Южный|
|    10000|  Восточный|
|    26000|   Западный|
|    56000|Центральный|
+---------+-----------+

+-------+-------+----------+------+-----+--------+------+--------+-------------+-----------+--------------------+
|  month|country|      code| value|netto|quantity|region|district|direction_eng|measure_eng|           load_date|
+-------+-------+----------+------+-----+--------+------+--------+-------------+-----------+--------------------+
|01/2016|     IT|6204695000|   131|    1|       7| 46000|      01|           IM|        ShT|2024-07-01T00:00:...|
|01/2016|     CN|9001900009|112750|   18|       0| 46000|      01|           IM|          1|2024-01-01T00:00:...|
+-------+-------+----------+------+-----+--------+------+--------+-------------+-----------+--------------------+
only showing top 2 rows

In [28]:
# Отключим автоматический Broadcast JOIN  тут мы отключаем Broadcast..джойним как обычно без копии нашего DF к большой табличке
import time
spark.conf.set("spark.sql.autoBroadcastJoinThreshold", -1)

In [29]:
# Замерим выполнение запроса без broadcast join

start_time = time.time()

customs_data.join(region_df, customs_data.region==region_df.region_id, "left").count()

end_time = time.time()

print(f"Elapsed time for join operation: {end_time - start_time:.2f} seconds")

Elapsed time for join operation: 18.63 seconds

In [30]:
# Замерим выполнение запроса c broadcast join.. тут мы копию нашего DF отправляем на каждый excuter и он там join с своим мелким кусочком

start_time = time.time()

customs_data.join(F.broadcast(region_df), customs_data.region == region_df.region_id, "left").count()

end_time = time.time()

print(f"Elapsed time for broadcast join operation: {end_time - start_time:.2f} seconds")

Elapsed time for broadcast join operation: 11.25 seconds

In [ ]:
customs_data.cache().count()   # заносим в кеш

25/02/18 11:15:51 WARN MemoryStore: Not enough space to cache rdd_177_4 in memory! (computed 20.7 MiB so far)
25/02/18 11:15:51 WARN BlockManager: Persisting block rdd_177_4 to disk instead.
25/02/18 11:15:51 WARN MemoryStore: Not enough space to cache rdd_177_13 in memory! (computed 18.9 MiB so far)
25/02/18 11:15:51 WARN BlockManager: Persisting block rdd_177_13 to disk instead.
25/02/18 11:15:51 WARN MemoryStore: Not enough space to cache rdd_177_3 in memory! (computed 19.5 MiB so far)
25/02/18 11:15:51 WARN BlockManager: Persisting block rdd_177_3 to disk instead.
25/02/18 11:15:51 WARN MemoryStore: Not enough space to cache rdd_177_1 in memory! (computed 19.8 MiB so far)
25/02/18 11:15:51 WARN BlockManager: Persisting block rdd_177_1 to disk instead.
25/02/18 11:15:56 WARN MemoryStore: Not enough space to cache rdd_177_2 in memory! (computed 25.0 MiB so far)
25/02/18 11:15:56 WARN BlockManager: Persisting block rdd_177_2 to disk instead.
25/02/18 11:16:01 WARN MemoryStore: Not enough space to cache rdd_177_8 in memory! (computed 28.6 MiB so far)
25/02/18 11:16:01 WARN BlockManager: Persisting block rdd_177_8 to disk instead.
25/02/18 11:16:01 WARN MemoryStore: Not enough space to cache rdd_177_10 in memory! (computed 29.4 MiB so far)
25/02/18 11:16:01 WARN BlockManager: Persisting block rdd_177_10 to disk instead.
25/02/18 11:16:07 WARN MemoryStore: Not enough space to cache rdd_177_7 in memory! (computed 34.1 MiB so far)
25/02/18 11:16:07 WARN BlockManager: Persisting block rdd_177_7 to disk instead.
25/02/18 11:16:07 WARN MemoryStore: Not enough space to cache rdd_177_9 in memory! (computed 34.5 MiB so far)
25/02/18 11:16:07 WARN BlockManager: Persisting block rdd_177_9 to disk instead.
25/02/18 11:16:16 WARN MemoryStore: Not enough space to cache rdd_177_15 in memory! (computed 43.7 MiB so far)
25/02/18 11:16:16 WARN BlockManager: Persisting block rdd_177_15 to disk instead.
25/02/18 11:16:21 WARN MemoryStore: Not enough space to cache rdd_177_15 in memory! (computed 19.3 MiB so far)
25/02/18 11:16:23 WARN MemoryStore: Not enough space to cache rdd_177_10 in memory! (computed 29.4 MiB so far)
25/02/18 11:16:23 WARN MemoryStore: Not enough space to cache rdd_177_8 in memory! (computed 19.0 MiB so far)
25/02/18 11:16:24 WARN MemoryStore: Not enough space to cache rdd_177_7 in memory! (computed 34.1 MiB so far)
25/02/18 11:16:24 WARN MemoryStore: Not enough space to cache rdd_177_9 in memory! (computed 34.5 MiB so far)
25/02/18 11:16:24 WARN MemoryStore: Not enough space to cache rdd_177_13 in memory! (computed 32.9 MiB so far)
25/02/18 11:16:25 WARN MemoryStore: Not enough space to cache rdd_177_3 in memory! (computed 29.7 MiB so far)
25/02/18 11:16:25 WARN MemoryStore: Not enough space to cache rdd_177_2 in memory! (computed 9.8 MiB so far)
25/02/18 11:16:25 WARN MemoryStore: Not enough space to cache rdd_177_1 in memory! (computed 10.5 MiB so far)

26392290

In [ ]:
customs_data.unpersist() # УДАЛЯЕМ ИЗ КЕША

DataFrame[month: string, country: string, code: string, value: string, netto: string, quantity: string, region: string, district: string, direction_eng: string, measure_eng: string, load_date: string]

In [ ]:
from pyspark.storagelevel import StorageLevel

customs_data.persist(StorageLevel.DISK_ONLY).count() # ТУТ ГОВОРИМ СОХРАНИ НА ДИСК ИЛИ КУДА ЕШЕ  

# ЕСТЬ cache() В ОПЕРАТИВКУ СОХРАНЯЕТ,  ЕСТЬ persist() НА ДИСК СОХРАНИ И В ПАМЯТЬ ИЛИ ТОЛЬКО НА ДИСК

In [46]:
data = [(1,'one'), (2,'two'), (3,'three'), (4,'four'),
        (5,'five'), (6,'six'), (7, 'seven'), (8, 'eight'),
        (9, 'nine')]

df = spark.createDataFrame(data, ['id', 'number'])

df.show()

+---+------+
| id|number|
+---+------+
|  1|   one|
|  2|   two|
|  3| three|
|  4|  four|
|  5|  five|
|  6|   six|
|  7| seven|
|  8| eight|
|  9|  nine|
+---+------+

In [47]:
# Намеренно перемешаем и поделим на 8 разделов
mix = df.repartition(8)
mix.rdd.glom().collect()

[[],
 [],
 [],
 [],
 [],
 [],
 [Row(id=1, number='one'),
  Row(id=2, number='two'),
  Row(id=3, number='three'),
  Row(id=4, number='four'),
  Row(id=5, number='five'),
  Row(id=6, number='six'),
  Row(id=7, number='seven'),
  Row(id=8, number='eight'),
  Row(id=9, number='nine')],
 []]

In [48]:
mix.repartition(3).rdd.glom().collect()

[[Row(id=2, number='two'),
  Row(id=3, number='three'),
  Row(id=8, number='eight')],
 [Row(id=1, number='one'),
  Row(id=6, number='six'),
  Row(id=7, number='seven'),
  Row(id=9, number='nine')],
 [Row(id=4, number='four'), Row(id=5, number='five')]]

In [49]:
mix.coalesce(3).rdd.glom().collect()

[[],
 [],
 [Row(id=1, number='one'),
  Row(id=2, number='two'),
  Row(id=3, number='three'),
  Row(id=4, number='four'),
  Row(id=5, number='five'),
  Row(id=6, number='six'),
  Row(id=7, number='seven'),
  Row(id=8, number='eight'),
  Row(id=9, number='nine')]]

In [50]:
mix.toPandas().head()

ImportError: Pandas >= 0.23.2 must be installed; however, it was not found.